@{ Layout = null; }

<footer>
    <p>
        This whole website is <a href="https://github.com/tathamoddie/nfwd">open source</a>. Please help us by forking the project and adding to it.
    </p>
    <p rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/au/">
        This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/au/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Australia License</a>.
    </p>
    <p>
        Built from commit <a href="https://github.com/tathamoddie/nfwd/tree/@(ViewBag.CommitId)">@ViewBag.CommitId</a>.
    </p>
</footer>
