<aside>
    <a href="@ViewBag.GitHubEditLink">Edit this page</a>
    (you need to be signed in to <a href="http://github.com">GitHub</a> <em>before</em> clicking this link)
</aside>

<div class="page-content">
@ViewBag.PageContent
</div>
