html {
    padding: 0 20px;
}

body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    max-width: 60em;
    margin: 20px auto;
}

header,
footer,
nav,
section {
    display: block;
}

code {
    font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
    margin: 0 2px;
    padding: 2px 5px;
    white-space: nowrap;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

pre {
    padding: 5px;
    margin: 0 0 0 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

    pre code {
        margin: 0;
        padding: 0;
        white-space: pre-line;
        border: none;
        background: transparent;
    }

.page-content h1, h2, h3 {
    clear: left;
}

.page-content aside {
    float: left;
    max-width: 20em;
    padding: 5px;
    margin: 0 20px 20px 0;
    border: 1px solid #aaf;
    background-color: #f0f0ff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.4;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.page-content aside:hover {
    opacity: 1.0;
}

@media (max-width: 40em) {
    .page-content aside {
        margin-right: 0;
        width: auto;
        max-width: none;
        opacity: 1.0;
    }
}

footer {
    border-top: solid 1px #ddd;
    margin: 2em 0 0 0;
    padding: 1em 0 1em 0;
    font-size: 80%;
    text-align: center;
    color: #aaa;
}

    footer a:link,
    footer a:active,
    footer a:visited {
        color: #777;
        text-decoration: none;
    }

    footer a:hover {
        color: #000;
    }

    footer p {
        margin: 0.5em 0 0 0;
    }
