body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

code {
    font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
    margin: 0 2px;
    padding: 2px 5px;
    white-space: nowrap;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

footer {
    border-top: solid 1px #ddd;
    margin: 2em 0 0 0;
    padding: 1em 0 1em 0;
    font-size: 80%;
    text-align: center;
    color: #aaa;
}

    footer a:link,
    footer a:active,
    footer a:visited {
        color: #777;
        text-decoration: none;
    }

    footer a:hover {
        color: #000;
    }

    footer p {
        margin: 0.5em 0 0 0;
    }
